<div class="container">
  <div class="path_info_container">
    <%= link_to @school.name, @school %>
    <p>></p>
    <p><%= @group.name %></p>
  </div>
  <div class="wrap">
    <h4>Schedules:</h4>
    <ul class="list">
      <% @group.schedules.each do |schedule| %>
        <li><%= link_to schedule.name, school_group_schedule_path(@school,@group,schedule) %></li>
      <% end %>
    <ul>
  	<% if @group.schedules.count == 0 %>
  	  <h6>There are no schedules in this group.
  	  	<% if @user == current_user %>
  	  	  You can <b id='add_schedule'>add</b> new schedule.</h6>
  	  	<% end %>
  	<% end %>
  </div>
</div>