<% if @schedule.weeks %>
	<div class="switcher_container">
		<div id="switch1" class="switch switch_clicked"><p>Week 1</p></div>
		<div id="switch2" class="switch"><p>Week 2</p></div>
		<div id="switch3" class="switch"><p>All</p></div>
	</div>
<% end %>
<% if current_user == @schedule.user %>
	<div class="control_container">
		<div class="switch" id="schedule_editing"><p>Edit Lessons</p></div>
		<div class="switch" id="add_item"><p>Add Lesson</p></div>
	</div>
<% end %>