<% if @schedule.weeks %>
	<div class="switcher_container">
		<div id="switch1" class="switch switch_clicked"><p>Week 1</p></div>
		<div id="switch2" class="switch"><p>Week 2</p></div>
		<div id="switch3" class="switch"><p>All</p></div>
	</div>
<% end %>
<% if current_user == @schedule.user %>
	<script type="text/javascript">
		var settings_nav = $('#settings_nav');
		settings_nav.append('<li id="add_item">Add Lesson</li>');
		settings_nav.append('<li id="schedule_editing">Edit Lessons</li>');
	</script>
<% end %>