<svg width="21" height="100" xmlns="http://www.w3.org/2000/svg">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <g>
  <title>Layer 1</title>
  <text transform="rotate(-90 9 51.5)" xml:space="preserve" text-anchor="middle" font-family="serif" font-size="13" id="svg_1" y="57" x="9" stroke-width="0" stroke="#000000" fill="#444"><%= lesson %></text>
 </g>
</svg>