* {
	margin: 0;
	padding: 0;
}
body {
	min-width: 1000px;
	overflow-y: scroll;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
a {
	font-size: 13px;
	color: #333;
}
a:hover {
	color: red;
}
i {
	font-style: initial;
}
h1 {
	font-size: 20px;
	color: #6A6F63;
	text-align: center;
	padding-top: 20px;
}
h2 {
	font-size: 30px;
	color: #959E51;
	padding-bottom: 20px;
	text-align: center;
}
.content {
	width: 1000px;
	overflow: hidden;
}
.user_info {
	float: left;
}
.user {
	color: #333;
	padding: 20px 0 2px;
}
.user i {
	color: #000;
}
.content_box {
	width: 500px;
	margin-top: 40px;
	background: #EEE;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 30px 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.schedules_container {
	float: left;
}
.schedules {
	list-style: none;
}
.schedules li>a {
	padding: 5px 10px;
	background: #D5D5D5;
	border-top: 1px solid #EEE;
	border-left: 1px solid #EEE;
	width: 70%;
	display: block;
	color: #8A3232;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 16px;
	float: left;
	font-family: Arial;
}
.schedules li >a.schedule_control_links {
	width: 15%;
	text-align: center;
}
.schedules li>a:hover {
	background: #BAD3B9;
}
.top {
	padding: 10px 0;
	color: #723E3E;
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
}
.schedule_new {
	float: right;
	width: 400px;
	background: #EEEEC1;
}
.schedule_new input {
	width: 100%;
}
.schedule_new input[type="text"] {
	font-size: 18px;
	padding: 3px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 2px;
}
.schedule_new input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 5px 0 0 8px;
}
.schedule_new input[type="submit"] {
	width: 125px;
	height: 30px;
	margin: 10px 100px 0 0;
}
.schedule_new label {
	font-size: 13px;
	padding: 7px 0 0;
	display: block;
	float: left;
}
.sign_form {
	width: 400px;
	margin: 50px auto;
}
.sign_form input {
	width: 100%;
	margin-bottom: 10px;
	padding: 2px 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 20px;
}
.sign_form input[type="submit"] {
	width: 100px;
	font-size: 15px;
	float: left;
}
.sign_form a {
	float: right;
	margin-top: 5px;
	margin-right: 7px;
}
#error_message {
	padding: 15px;
	position: absolute;
	display: block;
	border: 2px solid #915454;
	background: #FFECEC;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0;
	text-align: center;
	width: 500px;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#error_message>p{
	font-size: 20px;
	color: #B44848;
}
#settings {
	float: right;
	background: url(setup.png);
	cursor: pointer;
	width: 29px;
	height: 31px;
	margin: 8px 25px 0 0;
}
#settings:hover {
	background: url(setup_hover.png);
}
#settings_container {
	background-color: white;
	background: rgba(255, 255, 255, 0.98);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	border: 1px solid rgba(100, 100, 100, .4);
	overflow: visible;
	position: absolute;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 200px;
	top: 52px;
	right: 170px;
}
.blip {
	height: 11px;
	width: 20px;
	background: url(blip.png);
	position: relative;
	margin: -11px 12px 0 0;
	float: right;
}
#settings_nav {
	list-style: none;
	padding: 2px 0;
}
#settings_nav>li{
	cursor: pointer;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
	padding: 3px 10px;
	margin: 3px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
#settings_nav>li:hover {
	background: #C59961;
	color: #FFF;
	border-color: #91632A; 
}
#settings_nav>li>input[type="checkbox"] {
	float: right;
}