.form_container {
	width: 450px;
	margin: 25px auto;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.form_container>h1 {
	margin-bottom: 20px;
	font-size: 24px;
}
.form_container label {
	font-size: 11px;
	color: #777;
	margin-left: 25px;
}
.form_container input {
	width: 400px;
	margin: 0 25px 15px;
	padding: 2px 0;
	font-size: 18px;
}
.form_container .weeks {
	padding-top: 5px;
	float: left;
	width: 230px;
	margin-top: 10px;
}
.form_container .weeks label {
	font-size: 12px;	
	display: block;
	float: left;
	padding: 3px 7px 0 0;
}
.form_container .weeks input {
	margin: 0;
	width: 20px;
	height: 20px;
}
.form_container input[type="submit"] {
	width: 170px;
	padding: 5px 0;
	margin: 30px 10px 30px 0;
	font-size: 13px;
}
.form_container #item_day {
	margin: 0 50px 0 3px;
	width: 115px;
}
.edit_lessons {
	position: absolute;
	width: 100px;
	height: 100px;
	background: rgba(221, 221, 221, 0.5);
	display: table;
}
.edit_lessons_wrapper {
	display: table-cell;
	vertical-align: middle;
}
.edit_lessons_inner {
	width: 90px;
	height: 40px;
	margin: auto;
}
.edit_lessons_inner>* {
	cursor: pointer;
	width: 40px;
	height: 40px;
	float: left;
}
.edit_icon {
	float: left;
	background: url(icons.png) -23px -34px no-repeat;
}
.edit_icon:hover {
	background: url(icons.png) -63px -34px no-repeat;
}
.delete_icon {
	float: right;
	background: url(icons.png) -23px -73px no-repeat;
}
.delete_icon:hover {
	background: url(icons.png) -63px -73px no-repeat;
}
.form_container #schedule_weeks {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin-right: 100px;
}
.form_container #label_schedule_weeks {
	font-size: 14px;
	margin: 0px -15px 0 25px;
	float: left;
	padding-top: 2px;
}
.edit_close {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(icons.png) 0px -33px no-repeat;
}
.edit_close:hover {
	background: url(icons.png) 0px -53px no-repeat;
}