* {
	margin: 0;
	padding: 0;
}
body {
	min-width: 1000px;
}
th {
	font-weight: normal;
}
.container {
	width: 70%;
	margin: auto;
}
.hidden {
	display: none;
}
.header {
	background: url(leather.jpg);
	width: 100%;
	height: 50px;
	box-shadow: 1px 1px 1px #000;
}
.h1_container {
	height: 50px;
	width: 275px;
	float: left;
	margin-left: 20px;
}
.h1_container>h1 {
	font-family: Calibri;
	font-size: 24px;
	text-shadow: 0px 1px 1px #FFE1A0;
	color: #7E5B26;
	padding-top: 10px;
	font-weight: normal;
}
.switcher_container {
	height: 50px;
	margin: auto;
	width: 250px;
	float: left;
}
.switch {
	float: left;
	text-align: center;
	margin-top: 10px;
	font-family: Verdana;
	padding: 3px 20px;
	border: 1px solid #8A764B;
	border-bottom-color: #D8BE86;
	border-top-color: #8A764B;
	cursor: pointer;
	text-shadow: 0px 1px 1px #FFE1A0;
}
.switch:hover {
	color: #8B00AE;
}
#switch1 {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#switch2 {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -1px;
}
.switch_clicked {
	-moz-box-shadow:    inset 0 3px 25px #000000;
	-webkit-box-shadow: inset 0 3px 25px #000000;
	box-shadow:         inset 0 3px 25px #000000;
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
}
.switch_clicked:hover {
	color: #FFF;
}
.schedule {
	border-spacing: 0;
	width: 98%;
	margin: 20px auto;
	font-family: Arial;
	color: #ACACAC;
	text-align: center;
}
.schedule td {
	width: 17%;
	border-right: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	padding: 25px 10px 25px 10px;
	font-size: 13px;
}
.schedule th {
	border-bottom: 1px solid #ACACAC;
	padding-bottom: 5px;
	text-align: center;
}
.schedule th>p {
	padding: 3px 3px 0 0;
}
td.first_column {
	width: 2%;
	border-left: 1px solid #ACACAC;	
}
.schedule td h3 {
	color: #A37373;
	font-size: 14px;
}
p.loc {
	color: #E49393;	
}