* {
	margin: 0;
	padding: 0;
}
body {
	min-width: 1000px;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
th {
	font-weight: normal;
}
.container {
	width: 80%;
	min-width: 1000px;
	margin: auto;
}
.hidden {
	display: none;
}
.header {
	background: url(leather.jpg);
	width: 100%;
	height: 50px;
	box-shadow: 1px 1px 1px #000;
}
.h1_container {
	height: 50px;
	width: 230px;
	float: left;
	margin-left: 15px;
}
.h1_container>a {
	text-decoration: none;
	background: url(logo.png);
	display: block;
	width: 100%;
	height: 34px;
	margin-top: 8px;
}
.h1_name_container {
	width: 143px;
}
.switcher_container {
	height: 50px;
	margin: 1px 0 0 30px;
	width: 270px;
	float: left;
}
.switch {
	float: left;
	text-align: center;
	margin-top: 10px;
	font-family: Verdana;
	padding: 3px 20px;
	border: 1px solid #8A764B;
	border-bottom-color: #D8BE86;
	border-top-color: #8A764B;
	cursor: pointer;
	text-shadow: 0px 1px 1px #FFE1A0;
}
.switch:hover {
	color: #8B00AE;
}
.switch:hover p {
	border-color: #8B00AE;
}
.switch>p {
	border-bottom: 1px dotted #666;
}
.switch_clicked>p{
	border-bottom: 0;
}
#switch1 {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#switch2 {
	margin-left: -1px;
}
#switch3 {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -1px;
}
.switch_clicked {
	color: #FFF;
	text-shadow: 0px 1px 1px #000;
	padding-bottom: 4px;
	background-color: rgba(0, 0, 0, 0.15);
}
.switch_clicked:hover {
	color: #FFF;
}
.schedule {
	border-spacing: 0;
	width: 98%;
	margin: 20px auto;
	font-family: Arial;
	color: #ACACAC;
	text-align: center;
}
.schedule>*>*>td {
	width: 17%;
	border-right: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	font-size: 13px;
}
.schedule th {
	border-bottom: 1px solid #ACACAC;
	padding-bottom: 5px;
	text-align: center;
}
.schedule th>p {
	padding: 3px 3px 0 0;
}
td.first_column {
	width: 2%;
	border-left: 1px solid #ACACAC;	
	padding: 0 4px;
	color: #915050;
}
.whiteSmoke {
	background: whiteSmoke;
}
.schedule h3 {
	color: #915050;
	font-size: 14px;
}
p.loc, table.small_font p.loc {
	color: #BB4B4B;	
}
table.cell {
	width: 100%;
}
table.cell td {
	padding: 25px 10px 25px 10px;
}
table.cell td.padding10 {
	padding: 10px;
}
.red {
	background: #F3E2E2;
}
.grey {
	background: #F1F1F1;
}
table.small_font h3 {
	font-size: 12px;
	font-weight: initial;
}
table.small_font p {
	font-size: 11px;
	color: #858383;
}
.control_container {
	float: right;
	margin-right: 15px;
}
#add_item_container {
	width: 300px;
	border: 1px solid #666;
	border-bottom: 2px solid #666;
	background: #FFF;
	position: absolute;
	top: 50px;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	z-index: 2;
}
#add_item_container label {
	font-size: 11px;
	color: #777;
	margin-left: 25px;
}
#add_item_container input {
	width: 250px;
	margin: 0 25px 15px;
	padding: 2px 0;
	font-size: 18px;
}
.weeks {
	padding-top: 5px;
	float: left;
	width: 150px;
	margin-top: 10px;
}
#add_item_container .weeks label {
	font-size: 12px;	
	display: block;
	float: left;
	padding: 3px 7px 0 0;
}
#add_item_container .weeks input {
	margin: 0;
	width: 20px;
	height: 20px;
}
#add_item_container input[type="submit"] {
	width: 98px;
	padding: 5px 0;
	margin: 30px 10px 30px 25px;
	font-size: 13px;
}
#item_day {
	margin-left: 3px;
	width: 115px;
}
#add_item {
	margin-left: -1px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#schedule_editing {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.flash_message {
	cursor: pointer;
	width: 1000px;
	margin: 1px auto -1px;
	background: #FFFEDA;
	border: 1px solid #999;
	border-top: 0px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	display: none;
}
div.shadow {
	border: 1px solid #FFF;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
}
.flash_message h1{
	padding: 10px 0 10px;
	font-size: 20px;
	font-weight: initial;
	color: #8F8C54;
	text-shadow: 1px 0 1px #FFF;
}
#flash_red {
	background: #FFEADA
}
#flash_red h1 {
	color: #8F5454;
}

.lessons_container {
	margin: -25px 0 50px 40px;
	width: 267px;
}
.lessons_container h1 {
	margin-bottom: 10px;
	font-size: 18px;
}
.lessons_container input[type="text"] {
	padding: 3px 5px;
	font-size: 18px;
	width: 150px;
	margin-left: 15px;
}
.lessons_container input[type="submit"] {
	margin: 15px 0 0 15px;
	padding: 2px 5px;
}
#edit_lessons {
	margin-top: 10px;
}