.wrap {
	width: 80%;
	margin: auto;
}
.list {
	list-style: none;
	margin-top: 15px;
}
.list a {
	font-size: 20px;
	color: blue;
}
.list a:hover {
	color: red;
}
h6>b {
	border-bottom: 2px dashed #9393FF;
	color: #9393FF;
	cursor: pointer;
}
h6>b:hover {
	color: #FF9898;
	border-color: #FF9898;
}