@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
.left {
  text-align: left;
  padding-left: 50px;
}

.weeks_timer {
  margin: 10px auto;
  width: 1000px;
  margin-bottom: 30px;
  background: url(circles.jpg);
  border: 1px solid #333;
  padding: 20px 200px 20px 20px;
  @include box_sizing;
}
.run_timer {
  float: right;
  margin: -45px -175px 0 0;
}
.run_timer input[type="submit"] {
  color: #FFF;
  width: 150px;
  font-size: 18px;
  height: 40px;
  cursor: pointer;
}
.run_timer input[type="checkbox"] {
  color: #FFF;
  display: none;
}
.weeks_timer input, .weeks_timer select, .weeks_timer textarea {
  margin: 3px 0 10px 0;
  outline: none;
  height: 30px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, #1f3b08 0%, #627D4D 15% ,#627d4d 100%);
  border: 1px solid #666;
  border-top: 1px solid #333;
  border-bottom: 1px solid #AAA;
  color: #374400;
}
.weeks_timer select {
  background: -webkit-linear-gradient(top, #6e7c62 0%,#243a11 100%);
  color: #6EBFAC;
}
.weeks_timer input:focus, .weeks_timer textarea:focus {
  background: #4EAA82;
}
.weeks_timer textarea {
  background: -webkit-linear-gradient(top, #1F3B08 0%, #627D4D 6%, #627D4D 100%);
  height: 100px;
}
.weeks_timer label, .weeks_timer p {
  margin: 0 0 0 2px;
  font-size: 14px;
  text-shadow: 0 1px -1px #9ED88D;
  color: #111;
}
.weeks_timer p {
  color: #E4F8DA;
}

/* buttons */

input.green {
  background: #57B43D;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9ED88D), color-stop(50%, #6DC554), color-stop(50%, #57B43D), color-stop(100%, #4B9A34));
  background-image: -webkit-linear-gradient(top, #9ED88D 0%, #6DC554 50%, #57B43D 50%, #4B9A34 100%);
  background-image: -moz-linear-gradient(top, #9ED88D 0%, #6DC554 50%, #57B43D 50%, #4B9A34 100%);
  background-image: -ms-linear-gradient(top, #9ED88D 0%, #6DC554 50%, #57B43D 50%, #4B9A34 100%);
  background-image: -o-linear-gradient(top, #9ED88D 0%, #6DC554 50%, #57B43D 50%, #4B9A34 100%);
  background-image: linear-gradient(top, #9ED88D 0%, #6DC554 50%, #57B43D 50%, #4B9A34 100%);
  -webkit-box-shadow: inset 0 1px 0 0 #BDE4B1;
  -moz-box-shadow: inset 0 1px 0 0 #BDE4B1;
  box-shadow: inset 0 1px 0 0 #BDE4B1;
  border: 1px solid #28521D;
  text-shadow: 0 -1px 1px #356F26;
}
input.green:hover {
  background: #51A738;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8BD077), color-stop(50%, #5CBC41), color-stop(50%, #51A738), color-stop(100%, #42892E));
  background-image: -webkit-linear-gradient(top, #8BD077 0%, #5CBC41 50%, #51A738 50%, #42892E 100%);
  background-image: -moz-linear-gradient(top, #8BD077 0%, #5CBC41 50%, #51A738 50%, #42892E 100%);
  background-image: -ms-linear-gradient(top, #8BD077 0%, #5CBC41 50%, #51A738 50%, #42892E 100%);
  background-image: -o-linear-gradient(top, #8BD077 0%, #5CBC41 50%, #51A738 50%, #42892E 100%);
  background-image: linear-gradient(top, #8BD077 0%, #5CBC41 50%, #51A738 50%, #42892E 100%);
}

input.redd {
  background-color: #B44F3D;
  background: url(ico.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D8998D), color-stop(50%, #C56554), color-stop(50%, #B44F3D), color-stop(100%, #9A4334));
  background-image: -webkit-linear-gradient(top, #D8998D 0%, #C56554 50%, #B44F3D 50%, #9A4334 100%);
  background-image: -moz-linear-gradient(top, #D8998D 0%, #C56554 50%, #B44F3D 50%, #9A4334 100%);
  background-image: -ms-linear-gradient(top, #D8998D 0%, #C56554 50%, #B44F3D 50%, #9A4334 100%);
  background-image: -o-linear-gradient(top, #D8998D 0%, #C56554 50%, #B44F3D 50%, #9A4334 100%);
  background-image: linear-gradient(top, #D8998D 0%, #C56554 50%, #B44F3D 50%, #9A4334 100%);
  -webkit-box-shadow: inset 0 1px 0 0 #E4B9B1;
  -moz-box-shadow: inset 0 1px 0 0 #E4B9B1;
  box-shadow: inset 0 1px 0 0 #E4B9B1;
  border: 1px solid #52251D;
  text-shadow: 0 -1px 1px #6F3126;
}
input.redd:hover {
  background-color: #A74938;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D08577), color-stop(50%, #BD5340), color-stop(50%, #A74938), color-stop(100%, #893C2E));
  background-image: -webkit-linear-gradient(top, #D08577 0%, #BD5340 50%, #A74938 50%, #893C2E 100%);
  background-image: -moz-linear-gradient(top, #D08577 0%, #BD5340 50%, #A74938 50%, #893C2E 100%);
  background-image: -ms-linear-gradient(top, #D08577 0%, #BD5340 50%, #A74938 50%, #893C2E 100%);
  background-image: -o-linear-gradient(top, #D08577 0%, #BD5340 50%, #A74938 50%, #893C2E 100%);
  background-image: linear-gradient(top, #D08577 0%, #BD5340 50%, #A74938 50%, #893C2E 100%);
}

input.redd:active, input.green:active {
    -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    -moz-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
    box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 white;
}
input[disabled="disabled"].redd:active, input[disabled="disabled"].green:active {
  -webkit-box-shadow: inset 0 0 0;
  -moz-box-shadow: inset 0 0 0;
  box-shadow: inset 0 0 0;
}

input[disabled="disabled"], input[disabled="disabled"]:hover {
  background-color: #C1CFBD;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EDFDE8), color-stop(50%, #BCD3B5), color-stop(50%, #C1CFBD), color-stop(100%, #A3A3A3));
  background-image: -webkit-linear-gradient(top, #EDFDE8 0%, #BCD3B5 50%, #C1CFBD 50%, #A3A3A3 100%);
  background-image: -moz-linear-gradient(top, #EDFDE8 0%, #BCD3B5 50%, #C1CFBD 50%, #A3A3A3 100%);
  background-image: -ms-linear-gradient(top, #EDFDE8 0%, #BCD3B5 50%, #C1CFBD 50%, #A3A3A3 100%);
  background-image: -o-linear-gradient(top, #EDFDE8 0%, #BCD3B5 50%, #C1CFBD 50%, #A3A3A3 100%);
  background-image: linear-gradient(top, #EDFDE8 0%, #BCD3B5 50%, #C1CFBD 50%, #A3A3A3 100%);
}